html, body {
  overflow-x: hidden; }

.navbar-collapse {
  justify-content: flex-end;
  background: transparent; }

.bg-light {
  background: black;
  background-position: cover; }

html, body {
  overflow-x: hidden; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: white;
  font-size: 20px;
  width: 100%; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: yellow; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
  color: whitesmoke; }

.navbar-expand-lg {
  background: url(https://images.unsplash.com/photo-1642790391931-5c92f126809f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); }

.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 22px; }

.navbar-toggler-icon {
  background: white; }

.foo {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #04293a;
  text-align: center;
  padding: 10px 0px; }

.btn--facebook {
  background-color: #305795; }

.btn--twitter {
  background-color: #550cee; }

.btn--instagram {
  background-color: #080808; }

.sidebar {
  top: 1%;
  left: 1%;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s; }

.redes:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  transition: all 0.5s; }

.tituloencabezado {
  background-image: url(../assets/images/montanacolores.jpg);
  height: 450px;
  font-size: 25px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden; }

.titulo__bienvenida {
  padding-top: 35px; }

.container-fluid {
  padding: 0px;
  width: 100%; }

.btn-info {
  margin-left: 40%;
  background: #630606;
  border-color: white; }

.btn-info:hover {
  color: #D9CE3F;
  background: #630606; }

.section1, .sectionB, .sectionC, .sectionD {
  display: block;
  width: 100%; }

.sectionB {
  height: auto;
  background: black;
  color: white;
  padding: 5px 10px; }

.sectionC {
  height: 400px;
  background: url(https://images.unsplash.com/photo-1534615098829-958121bcc188?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-size: cover; }

.sectionD {
  height: 400px;
  background: url(https://s03.s3c.es/imag/_v0/770x420/3/4/8/Costa-verde.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.tit2, .tit1, .tit3 {
  display: flex;
  justify-content: center;
  color: #062C30; }

.tit1 {
  background: dimgray;
  text-shadow: 2px 2px 6px black; }

.tit1 {
  display: flex;
  justify-content: center;
  background: dimgray;
  color: white;
  text-shadow: 2px 2px 6px black; }

.tit2, .tit1, .tit3 {
  display: flex;
  justify-content: center; }

.ceviche {
  display: flex;
  width: 100%;
  height: 300px;
  background-image: url(https://1.bp.blogspot.com/-lU2GshgWAUc/YP9PL66WdBI/AAAAAAAAONs/AY44ppmk1McqAsQfwvvsEfWLADKDcSvWQCLcBGAsYHQ/s800/Ceviche-Peruano.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  font-size: 20px;
  justify-content: center; }

.brasa {
  display: flex;
  width: 100%;
  height: 400px;
  background-image: url(https://www.eatperu.com/wp-content/uploads/2019/10/pollo-a-la-brasa-with-salad-and-dipping-sauces.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  font-size: 20px;
  justify-content: center; }

p {
  padding: 14px 14px;
  display: flex;
  text-align: justify; }

.ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px; }

.form-control {
  background-color: #B7CADB;
  border-radius: 0.2;
  box-shadow: -10px 10px rgba(0, 0, 0, 0.5); }

#galeria img {
  width: 100%;
  height: 250px; }

#galeria .col-lg-4 {
  padding: 25px;
  margin: 0 !important;
  background: url(https://images.unsplash.com/photo-1646821198791-a3e16385a689?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no repeat;
  background-size: cover; }

#galeria img:hover {
  border: 5px solid #876445;
  box-shadow: 2px 2px 5px black; }

.tit3 {
  flex-direction: column;
  align-content: center;
  background: url(https://images.unsplash.com/photo-1646821198791-a3e16385a689?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no repeat;
  background-size: cover;
  color: white; }

@media (max-width: 768px) {
  .tituloencabezado {
    height: 550px; }
  .btn-info {
    margin-left: 30%; } }

@media (max-width: 768px) {
  .containerGRID {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 120px 100px 300px 50px 100px 100px;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-template-areas: "header" "tit1" "imagenp" "tit2" "tarjeta" "foo"; }
  .header .imagen_logo {
    display: flex;
    align-items: center;
    width: 60%;
    height: auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .header .enlaces {
    text-decoration: none;
    font-size: 15px;
    color: white;
    margin-top: 5px;
    padding: 5px; }
  .header .encab {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none; }
  .tarjeta .btnn {
    font-size: 16px; }
  .tarjeta .tarjeta1 .contenido {
    font-size: 11px; } }

* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: 'Varela Round', sans-serif; }

.encabez1 {
  list-style-type: none;
  margin: 5px;
  padding-top: 30px;
  text-decoration: none; }

.encab {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-decoration: none; }

.imagen_logo {
  width: 35%;
  height: auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.enlaces {
  text-decoration: none;
  font-size: 22px;
  color: white;
  margin-top: 10px;
  padding: 25px; }

.enlaces:hover {
  color: yellow;
  cursor: pointer; }

nav .navegador {
  width: 80%;
  display: flex;
  align-items: center;
  margin-right: -100px; }

.tarjeta1 {
  border: 1px solid #d0d0d0;
  margin-bottom: 25px; }

.boton2 {
  width: auto;
  display: flex;
  flex-direction: column; }

.btnn {
  margin: 20px auto;
  border: none;
  padding: 10px 44px;
  font-size: 25px;
  position: relative; }
  .btnn::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: '';
    width: 50%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0; }
  .btnn .btn-text {
    color: white;
    mix-blend-mode: difference; }
  .btnn:hover::before {
    background: black;
    width: 100%; }
  .btnn.rounded {
    border-radius: 50px; }
    .btnn.rounded .text-green {
      color: #00F0B5;
      mix-blend-mode: difference; }
    .btnn.rounded::before {
      border-radius: 50px;
      width: 25%;
      background: #00F0B5; }
    .btnn.rounded:hover::before {
      background: #00F0B5;
      width: 100%; }

.containerGRID {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 120px 100px 300px 50px 100px 100px;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-template-areas: "header" "tit1" "imagenp" "tit2" "tarjeta" "foo"; }

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background: url(https://images.unsplash.com/photo-1642790391931-5c92f126809f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  text-decoration: none; }

.tit1 {
  grid-area: tit1;
  display: flex;
  padding-top: 15px; }

.imagenp {
  grid-area: imagenp;
  display: flex; }

.tit2, .tit1, .tit3 {
  grid-area: tit2;
  display: flex;
  padding: 35px; }

.tarjeta {
  grid-area: tarjeta;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center; }

.foo {
  grid-area: foo;
  display: flex; }

.imgprom {
  display: flex;
  align-items: center;
  width: 90%;
  height: auto;
  padding: 20px; }

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F3E9DD;
  margin: 20px;
  padding-top: 10px;
  padding-right: 15px; }
