.tituloencabezado{
  background-image:url(https://media.staticontent.com/media/pictures/18426b70-15dd-43da-a889-b9a8e0479881);
  opacity: 1;
  height: 450px;
  font-size: 25px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  color: black;
  text-shadow: 2px 2px 2px blue;
  opacity: 0.9;
}

.titulo__bienvenida{
	padding-top: 35px;
	font-family: 'Carter One', cursive;
	color: black;
	font-weight: bold;
	text-shadow: 2px 2px 2px #FFF56D;
      h1{
        font-size: 55px;
      }
}


.titulo_secundario{
display: flex;
text-align: justify;
margin-left: 20%;
margin-right: 10%;
justify-content: center;
    p{
      color: white;
      text-shadow: 1px 1px 6px black;
    }
}

.container-fluid{
padding: 0px;
width: 100%;
}


.btn-info{
margin-left: 40%;
background: #630606;
border-color: white;
}

.btn-info:hover{
color: #D9CE3F;
background: #630606;
}


//Uso de extend

.section1{
	display: block;
	width: 100%;
}

.sectionB{
		@extend .section1;
		height: auto;
		background: black;
		color: white;
		padding: 10px 30px;
}

.sectionC{
	@extend .section1;
	height:  400px;
	background: $llama;
	background-repeat: no-repeat;
	background-size:cover ;
}

.sectionD{
@extend .section1;
height: 400px;
background: $costa;
background-repeat: no-repeat;
background-size:cover ;
}

//uso de extend para reutilizar en tit1

.tit2{
display: flex;
justify-content: center;
color: #062C30;
}

.tit1{
background: dimgray;
text-shadow: 2px 2px 6px black;
@extend .tit2;
font-size: 40px;
}

//boton dinamico

.wrap {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnindex {
  min-width: 200px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 500;
  color: #313133;
  background: #4FD1C5;
	background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 5px;
  }

.btnindex::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

	.btnindex:hover, .btnindex:focus {
  color: #313133;
  transform: translateY(-6px);
}

.btnindex:hover::before, .btnindex:focus::before {
  opacity: 1;
}

.btnindex::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.btnindex:hover::after, .btnindex:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}