

.foo{
   color: $blanco;
   display: flex;
   flex-direction: row;
   justify-content: center ;
   align-items: center;
   background-color: $fondoFooter;
   text-align: center;

}


$redes: (
   facebook:  #305795,
   twitter: #550cee,
   instagram: #080808,
);

@each $red, $color in $redes{
   .btn--#{$red}{
         background-color: $color;
   }
}

.sidebar{
flex-direction: row;
align-items:center;
transition: all 0.5s;
padding-top:10px;
padding-bottom:10px;
}

.redes:hover{
padding-right:3rem;
border-radius: 2rem 0 0 2rem;
transition: all 2s; 
}

.redes{
margin:5%;
}